<p>
  params works!
</p>

<div class="row">
  <div class="col-lg-1">
    <div class="input-group">
      <span class="input-group-addon">
          a
      </span>
      <input type="text" class="form-control" aria-label="...">
    </div>
    <!-- /input-group -->
  </div>
  <!-- /.col-lg-2 -->
  <div class="col-lg-2">
    <div class="input-group">
      <span class="input-group-addon">
        eef
      </span>
      <input type="date" class="form-control" aria-label="...">
    </div>
    <!-- /input-group -->
  </div>
  <!-- /.col-lg-2 -->
  <div class="col-lg-2">
    <div class="input-group">
      <span class="input-group-addon">
        eef
      </span>
      <input type="text" class="form-control" aria-label="...">
    </div>
    <!-- /input-group -->
  </div>
  <!-- /.col-lg-2 -->
  <div class="col-lg-2">
    <div class="input-group">
      <span class="input-group-addon">
        eef
      </span>
      <input type="text" class="form-control" aria-label="...">
    </div>
    <!-- /input-group -->
  </div>
  <!-- /.col-lg-2 -->
</div>
<!-- /.row -->
