<div class="input-group">
  <input type="text" class="form-control" placeholder="Text to find">
  <span class="input-group-addon">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
  </span>
</div>

<br>

<div *ngFor="let f_l0 of model.foundList" class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">{{f_l0.key}}</h2>
  </div>
  <div class="panel-body">

    <span *ngFor="let f_l1 of f_l0.val">
    <h2>{{f_l1.key}}</h2>
    <span *ngFor="let val of f_l1.val">
      <li>{{val}}</li>
    </span>
    </span>


  </div>
</div>
