<div *ngFor="let f0 of model.founds | keys" class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">{{f0.key}}</h2>
  </div>
  <div class="panel-body">

    <span *ngFor="let f1 of f0.value | keys">
          <h3>{{f1.key}}</h3>
      <span *ngFor="let item of f1.value">
            <!-- <span *ngIf=”itemIsLink(item)”> -->
                <li><a href="{{getLinkItem(item)}}" target="_blank">{{getLinkItem(item)}}</a></li>
            <!-- </span> -->
    <!-- <li><button type="button" class="btn btn-link" (mousedown)="onClick(item)">{{getTextItem(item)}}</button></li> -->
    </span>
    </span>


  </div>
</div>
