<div class="input-group">
  <input type="text" class="form-control" placeholder="Text to find" [(ngModel)]="text2find" (keyup.enter)="onModifText2Find($event)">
  <span class="input-group-addon">
     <span class="glyphicon glyphicon-search" aria-hidden="true" (mousedown)="onModifText2Find($event)"></span>
  </span>
</div>

<br>


<div *ngFor="let f0 of model.founds | keys" class="panel panel-primary">
  <div class="panel-heading">
    <h2 class="panel-title">{{f0.key}}</h2>
  </div>
  <div class="panel-body">

    <span *ngFor="let f1 of f0.value | keys">
          <h3>{{f1.key}}</h3>
      <span *ngFor="let item of f1.value">
            <li><button type="button" class="btn btn-default">{{item.text}}</button></li>
      </span>
    </span>


  </div>
</div>
